.progress {
  height: 6px !important;
  background-color: #5a5353 !important;
}
.progress-bar {
  background-color: white !important;
}
.bg-grey {
  background-color: #5a5353 !important;
}
.px-14{
padding: 0 12px;
}

