/* The following line can be included in a src/App.scss */
@import '~bootstrap/scss/bootstrap';

body {
  background: #000000;
}

.text-color-white {
  color: #ffffff;
}

.text-color-grey {
  color: #808080;
}


